html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 100%;
}

.site-background {
  background-color: #222222;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #CFD8DC;
}

.top-bar {
  display: flex;
  background-color: #3d3f43;
  box-shadow: 0 2px 2px 0 #0000001a;
  height: 50px;
  position: relative;
  z-index: 1;
}

.top-bar img{
  height: 28px;
  width: 28px;
}

.header-bar {
  display: flex;
  flex-wrap: wrap;
  height: 105px;
  background-color: #3d3f43;
  z-index: -1;
}

.nav-bar {
  background-color: #3b3b3b;
  height: 47px;
}

.nb-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
